<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iti.example.tripreminder">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripReminder">
        <service
            android:name=".ReminderService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".PastTripsActivity" />
        <activity android:name=".HomeActivity"
            android:theme="@style/Theme.NoActionBar"/>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".AddNewTrip"/>
        <activity android:name=".AddNotes"/>
        <activity android:name=".EditTrip"/>
        <activity android:name=".ViewTrip"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDL-OMMDIdvpwywXOGFbjncxF2nhCM2QUc" />
    </application>

</manifest>